// First override some or all individual color variables
$primary: #0C6291;
$secondary: #B4E1FF;
$success: #63D471;
$info: #13101c;
$warning: #FFB30F;
$danger: #FF5964;
$light: #f8f9fa;
$dark: #343a40;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

$body-font-family: 'Raleway', sans-serif;
$header-font-family: 'Raleway', sans-serif;
$paragraph-font-family: 'Raleway', sans-serif;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
